div.circle-avatar{
    /* make it responsive */
    max-width: 100%;
    width:100%;
    height:auto;
    display:block;

    /* make it a circle */
    border-radius:50%;

    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;

    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.form-control {
    border-color: #cfdadd;
    border-radius: 2px;
}

.form-control,
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: #23b7e5;
}

.form-horizontal .control-label.text-left {
    text-align: left;
}

.form-control-spin {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 2;
    margin-top: -7px;
}


.form-validation .form-control.ng-dirty.ng-invalid {
    border-color: #f05050;
}

.form-validation .form-control.ng-dirty.ng-valid,
.form-validation .form-control.ng-dirty.ng-valid:focus {
    border-color: #27c24c;
}

label.required:before {
    content: '* ';
    color: red;
}

.tooltip {
    font-size: 14px;
    line-height: 2;
}
.tooltip-inner {
    color: #a94442;
    background-color: #F2DEDE;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #EBCCD1;
}
.tooltip.top-left .tooltip-arrow {
    border-top-color: #EBCCD1;
}
.tooltip.top-right .tooltip-arrow {
    border-top-color: #EBCCD1;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #EBCCD1;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #EBCCD1;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #EBCCD1;
}
.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: #EBCCD1;
}
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #EBCCD1;
}

.right-content {
    padding:10px 20px 0px 20px
}

.toolbar-btn-icon {
    padding-right: 5px;
}
