<div class="right-content">
	<div id="toolbar" class="btn-group">
		<div>
			<button type="button" class="btn btn-default " ng-click="openAdd()">
				<span class="fa fa-plus toolbar-btn-icon"></span>新增
			 </button>
			&nbsp;
			<button type="button" class="btn btn-default " ng-click="openModify()">
				<span class="fa fa-edit toolbar-btn-icon"></span>修改
			 </button>
			&nbsp;
			<button type="button" class="btn btn-default" ng-click="openDelete()">
				<span class="fa fa-times toolbar-btn-icon"></span>删除
			 </button>
		</div>
	 </div>
	<table id="planPreparedControlTable" init-table="planPreparedControlTable" class="table table-responsive"></table>
</div>